<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs', { title: "Comfy Inn Admin Dashboard" }) %>
        <link rel="stylesheet" href="/css/toast.css">
        <script src="/js/admin.js" defer></script>
</head>

<body class="flex h-screen bg-gray-100 font-myfont">

    <!-- Sidebar -->
    <aside class="w-64 bg-green-600 text-white flex flex-col h-full shadow-lg">
        <div class="p-4">
            <h1 class="text-2xl font-bold">Comfy Inn Admin</h1>
        </div>
        <nav class="flex-1">
            <ul>
                <li>
                    <button onclick="showSection('roomsSection')"
                        class="w-full text-left px-6 py-4 hover:bg-green-700 focus:bg-green-800">
                        Room Management
                    </button>
                </li>
                <li>
                    <button onclick="showSection('viewRoomsSection')"
                        class="w-full text-left px-6 py-4 hover:bg-green-700 focus:bg-green-800">
                        View All Rooms
                    </button>
                </li>

                <li>
                    <button onclick="showSection('viewBookedRoomsSection')"
                        class="w-full text-left px-6 py-4 hover:bg-green-700 focus:bg-green-800">
                        View Booked Rooms
                    </button>
                </li>

                <li>
                    <button onclick="showSection('conferenceSection')"
                        class="w-full text-left px-6 py-4 hover:bg-green-700 focus:bg-green-800">
                        Conference Rooms
                    </button>
                </li>
                <li></li>
                <button onclick="showSection('viewHallsSection')"
                    class="w-full text-left px-6 py-4 hover:bg-green-700 focus:bg-green-800">
                    View All Conference Rooms
                </button>
                </li>
                <li>
                    <button onclick="showSection('menuSection')"
                        class="w-full text-left px-6 py-4 hover:bg-green-700 focus:bg-green-800">
                        Menu Management
                    </button>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content Area -->
    <main class="flex-1 p-6">
        <h1 class="text-3xl font-semibold text-green-600 mb-6">Admin Dashboard</h1>

        <!-- Room Management Section -->
        <section id="roomsSection" class="section">
            <h2 class="text-2xl font-semibold mb-6">Room Management</h2>
            <div class="grid grid-cols-1 gap-6">
                <!-- Form to Add/Update Rooms -->
                <div class="bg-white p-4 rounded-md shadow-lg">
                    <h3 class="text-xl font-semibold mb-4">Add Room and Prices</h3>
                    <form action="/admin/rooms/add" id="roomsForm" method="POST">
                        <div class="mb-2">
                            <label for="roomType" class="block text-lg font-medium text-gray-700">Room Type</label>
                            <select id="roomType" name="roomType" class="block w-full mt-2 border rounded-md p-2">
                                <option value="Deluxe">Deluxe</option>
                                <option value="Standard">Standard</option>
                                <option value="Twin">Twin Room</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="singlePrice" class="block text-lg font-medium text-gray-700">
                                Room Price</label>
                            <input type="number" id="singlePrice" name="singlePrice"
                                class="block w-full mt-2 border rounded-md p-2" required>
                        </div>

                        <div id="double" class="mb-2">
                            <label for="doublePrice" class="block text-lg font-medium text-gray-700">
                                Price for Two (Optional)</label>
                            <input type="number" id="doublePrice" name="doublePrice"
                                class="block w-full mt-2 border rounded-md p-2">
                        </div>

                        <div class="mb-2">
                            <label for="totalRooms" class="block text-lg font-medium text-gray-700">Total Rooms</label>
                            <input type="number" id="totalRooms" name="totalRooms"
                                class="block w-full mt-2 border rounded-md p-2">
                        </div>

                        <div class="mb-2">
                            <label for="imageUrl" class="block text-lg font-medium text-gray-700">Room Image Url</label>
                            <input type="text" id="imageUrl" name="imageUrl"
                                class="block w-full mt-2 border rounded-md p-2">
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded-md">Add Room</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- View All Rooms Section -->
        <section id="viewRoomsSection" class="section hidden">
            <h2 class="text-2xl font-semibold mb-6">All Rooms</h2>
            <div class="bg-white p-6 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-4">List of Available Rooms</h3>
                <table class="w-full text-left">
                    <thead class="bg-green-200">
                        <tr>
                            <th class="p-2">Room Type</th>
                            <th class="p-2">Room Price</th>
                            <th class="p-2">Price for Two</th>
                            <th class="p-2">Total Rooms</th>
                            <th class="p-2">Available Rooms</th>
                            <th class="p-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through existing rooms -->
                        <% rooms.forEach(room=> { %>
                            <tr class="border-b">
                                <td class="p-2">
                                    <%= room.roomtype %>
                                </td>
                                <td class="p-2">Ksh <%= room.singlePrice %>
                                </td>
                                <td class="p-2">Ksh <%= room.doublePrice || 'N/A' %>
                                </td>
                                <td class="p-2">
                                    <%= room.totalRooms %>
                                </td>
                                <td class="p-2">
                                    <%= room.availableRooms %>
                                </td>
                                <td class="p-2">
                                    <button class="bg-green-600 text-white p-1 rounded-sm">Edit</button>
                                    <button class="bg-red-600 text-white p-1 ml-1 rounded-sm">Delete</button>
                                </td>


                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- View Booked Rooms Section -->
        <section id="viewBookedRoomsSection" class="section hidden">
            <h2 class="text-2xl font-semibold mb-6">Booked Rooms</h2>
            <div class="bg-white p-6 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-4">List of Booked Rooms</h3>
                <table class="w-full text-left">
                    <thead class="w-full bg-green-200">
                        <tr>
                            <th class="p-2">Room Type</th>
                            <th class="p-2">Full Name</th>
                            <th class="p-2">Occupancy</th>
                            <th class="p-2">Rooms Booked</th>
                            <th class="p-2">Arrival Date</th>
                            <th class="p-2">Departure Date</th>
                            <th class="p-2">Booking ID</th>
                            <th class="p-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through existing rooms -->
                        <% bookedRooms.forEach(room=> { %>
                            <% function formatDate(dateString) { const options={ weekday: 'short' , year: 'numeric' ,
                                month: 'short' , day: 'numeric' }; return new
                                Date(dateString).toLocaleDateString('en-US', options); } %>
                                <tr class="border-b">
                                    <td class="p-2">
                                        <%= room.roomType %> Room
                                    </td>
                                    <td class="p-2">
                                        <%= room.name %>
                                    </td>
                                    <td class="p-2">
                                        <%= room.type ||"N/A" %>
                                    </td>
                                    <td class="p-2">
                                        <%= room.number %>
                                    </td>
                                    <td class="p-2">
                                        <%= formatDate(room.arrival) %>
                                    </td>
                                    <td>
                                        <%= formatDate(room.departure) %>
                                    </td>
                                    <td>
                                        <%= room.bookingId %>
                                    </td>
                                    <td class="p-2">
                                        <button class="bg-green-600 text-white p-1 rounded-sm">Checkout</button>
                                    </td>
                                </tr>
                                <% }) %>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Conference Room Management Section -->
        <section id="conferenceSection" class="section hidden">
            <h2 class="text-2xl font-semibold mb-6">Conference Room Management</h2>
            <div class="bg-white p-6 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-4">Add Conference Room</h3>
                <form action="/admin/conference/add" id="confForm" method="POST">
                    <div class="mb-4">
                        <label for="confname" class="block text-lg font-medium text-gray-700">Conference Room
                            Name</label>
                        <input type="text" id="confname" name="confname" class="block w-full mt-2 border rounded-md p-2"
                            required>
                    </div>

                    <div class="mb-4">
                        <label for="capacity" class="block text-lg font-medium text-gray-700">Conference Room
                            Capacity</label>
                        <input type="number" id="capacity" name="capacity"
                            class="block w-full mt-2 border rounded-md p-2" required>
                    </div>

                    <div class="mb-4">
                        <label for="cost" class="block text-lg font-medium text-gray-700">Conference Room
                            Charges</label>
                        <input type="number" id="cost" name="cost" class="block w-full mt-2 border rounded-md p-2"
                            required>
                    </div>

                    <div class="mb-4">
                        <label for="confdesc" class="block text-lg font-medium text-gray-700">Conference Room
                            Description</label>
                        <input type="text" id="confdesc" name="confdesc" class="block w-full mt-2 border rounded-md p-2"
                            required>
                    </div>

                    <div class="mb-4">
                        <label for="confImage" class="block text-lg font-medium text-gray-700">Conference Room Image
                            Url</label>
                        <input type="text" id="confImage" name="confImage"
                            class="block w-full mt-2 border rounded-md p-2" required>
                    </div>

                    <div class="mt-6">
                        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded-md">Add Conference
                            Room</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- View All Rooms Section -->
        <section id="viewHallsSection" class="section hidden">
            <h2 class="text-2xl font-semibold mb-6">All Conference Rooms</h2>
            <div class="bg-white p-6 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-4">List of All Conference Rooms</h3>
                <table class="w-full text-left">
                    <thead class="bg-green-200">
                        <tr>
                            <th class="p-2">Room Name</th>
                            <th class="p-2">Room Capacity</th>
                            <th class="p-2">Room Charges</th>
                            <th class="p-2">Room Status</th>
                            <th class="p-2">Booking ID</th>
                            <th class="p-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through existing rooms -->
                        <% conferenceRooms.forEach(room=> { %>
                            <tr class="border-b">
                                <td class="p-2">
                                    <%= room.name%>
                                </td>
                                <td class="p-2">
                                    <%= room.capacity %>
                                </td>
                                <td class="p-2">
                                    <%= room.charges%>
                                </td>
                                <td class="p-2">
                                    <%= room.status %>
                                </td>
                                <td class="p-2">
                                    <%= room.bookingId || "-" %>
                                </td>
                                <td class="p-2">
                                    <button class="bg-green-600 text-white p-1 rounded-sm">Checkout</button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Menu Management Section -->
        <section id="menuSection" class="section hidden">
            <h2 class="text-2xl font-semibold mb-6">Menu Management</h2>
            <div class="bg-white p-6 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-4">Add Menu Item</h3>
                <form action="/admin/menu/add" method="POST">
                    <div class="mb-4">
                        <label for="menuItem" class="block text-lg font-medium text-gray-700">Menu Item Name</label>
                        <input type="text" id="menuItem" name="menuItem" class="block w-full mt-2 border rounded-md p-2"
                            required>
                    </div>

                    <div class="mb-4">
                        <label for="price" class="block text-lg font-medium text-gray-700">Price</label>
                        <input type="number" id="price" name="price" class="block w-full mt-2 border rounded-md p-2"
                            required>
                    </div>

                    <div class="mt-6">
                        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded-md">Add Menu
                            Item</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

</body>

</html>